@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat-regular.ttf);
}

/* BASICS */

body {
    font-family: montserrat;
    margin: 0;
    background-image: url(../images/white-waves.png);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    font-family: montserrat;
    background-color: #00203FFF;
    color: #ADEFD1FF;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1rem;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

/*COMPONENTS*/

.main-content {
    max-width: 980px;
    margin: 0 auto;
}

/* header */

.main-title {
    letter-spacing: 1px;
    height: 80px;
    background-color: #eee;
    padding-inline-start: 20px;
    margin-bottom: 60px;
    background-color: #00203FFF;
    color: #ADEFD1FF;
}

/* map section */

.map-section {
    margin-inline-end: 40px;
}

.location-settings {
    margin-bottom: 20px;
}

.goto-location {
    padding: 5px 10px;
    border: 1.5px solid #00203FFF;
    border-radius: 3px;
}

.map-container {
    height: 400px;
    width: 400px;
    background-color: #eee;
    margin-bottom: 20px;
}

/* locations table */

.locations {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    border-bottom: 1px solid #00203FFF;
    padding: 10px 5px;
}

/* HELPERS */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}